/*This file exists because declaring font-faces in style files is not working. This file explicitly linked in _document.js*/

@font-face {
  font-family: Interstate;
  src: url('./view/static//fonts/Interstate-Bold.otf') format('opentype');
  src: url('./view/static//fonts/Interstate-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Interstate;
  src: url('./view/static//fonts/Interstate-BoldItalic.otf') format('opentype');
  src: url('./view/static//fonts/Interstate-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Interstate;
  src: url('./view/static//fonts/Interstate-ExtraLight.otf') format('opentype');
  src: url('./view/static//fonts/Interstate-ExtraLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Interstate;
  src: url('./view/static//fonts/Interstate-ExtraLightItalic.otf') format('opentype');
  src: url('./view/static//fonts/Interstate-ExtraLightItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Interstate;
  src: url('./view/static//fonts/Interstate-Light.otf') format('opentype');
  src: url('./view/static//fonts/Interstate-Light.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: Interstate;
  src: url('./view/static//fonts/Interstate-LightItalic.otf') format('opentype');
  src: url('./view/static//fonts/Interstate-LightItalic.woff') format('woff');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: Interstate;
  src: url('./view/static//fonts/Interstate-Regular.otf') format('opentype');
  src: url('./view/static//fonts/Interstate-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Interstate;
  src: url('./view/static//fonts/Interstate-RegularItalic.otf') format('opentype');
  src: url('./view/static//fonts/Interstate-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
