body {
  font-family: Times;
  background: #eee;
}
.exportedElement {
  background-color: #f5f5f5;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  padding: 3.6rem 9vw;
  width: 100%;
}
.exportedElement > div {
  box-sizing: inherit;
  color: #000000;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  margin: 0 auto;
  max-width: 144rem;
  width: 100%;
}
.exportedElement > div > div:nth-child(1) {
  border-bottom: 0.1rem solid rgba(66, 66, 66, 0.25);
  box-sizing: inherit;
  color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  justify-content: space-between;
  line-height: 10px;
  margin: 0 0 2.4rem;
}
.exportedElement > div > div:nth-child(1) > a {
  box-sizing: inherit;
  color: #0000ee;
  cursor: pointer;
  display: flex;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  max-width: 30rem;
  padding: 0 0 2rem;
  text-decoration: none;
  width: 100%;
}
.exportedElement > div > div:nth-child(1) > a:before {
  content: "";
  display: inline-block;
  height: 4.8rem;
  margin: 0 2rem 0 0;
  width: 4.8rem;
}
.exportedElement > div > div:nth-child(1) > a:first-of-type:before {
  background-color: initial;
  background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/location.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: contain;
}
.exportedElement > div > div:nth-child(1) > a:nth-of-type(2):before {
  background-color: initial;
  background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/goose.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: contain;
}
.exportedElement > div > div:nth-child(1) > a:nth-of-type(3):before {
  background-color: initial;
  background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/vision.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: contain;
}
.exportedElement > div > div:nth-child(1) > a > span {
  box-sizing: inherit;
  color: #565a5c;
  cursor: pointer;
  display: block;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.02rem;
  line-height: 2;
  opacity: 1;
  width: 79%;
}
.exportedElement > div > div:nth-child(1) > a > span > strong {
  box-sizing: inherit;
  color: #333333;
  cursor: pointer;
  display: block;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 1;
  margin: 0 0 1rem;
  text-transform: uppercase;
  width: 100%;
}
.exportedElement > div > div:nth-child(1) > a > span > p {
  box-sizing: inherit;
  color: #565a5c;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.exportedElement > div > div:nth-child(2) {
  background-color: #ededed;
  box-sizing: inherit;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  line-height: 10px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}
.exportedElement > div > div:nth-child(2) > span:nth-child(1) {
  box-sizing: inherit;
  color: #000000;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 1.6rem;
  text-align: center;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(2) > span:nth-child(2) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) {
  border-bottom: 0.1rem solid rgba(66, 66, 66, 0.25);
  box-sizing: inherit;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  justify-content: space-between;
  line-height: 10px;
  margin: 0 auto 1rem;
  padding: 0 0 1.6rem;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) {
  box-sizing: inherit;
  color: #000000;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  list-style: none;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1):first-of-type {
  display: flex;
  flex-basis: 58%;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1):last-of-type {
  align-items: flex-start;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) {
  box-sizing: inherit;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  list-style: none;
  width: 25%;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > h6 {
  box-sizing: inherit;
  color: #333333;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1;
  list-style: none;
  margin: 0 0 1rem;
  text-transform: uppercase;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > h6:nth-of-type(2) {
  margin-top: 3.3rem;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul {
  box-sizing: inherit;
  color: #565a5c;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.02rem;
  line-height: 2;
  list-style: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(1) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(1) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(2) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(2) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(3) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(3) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(4) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(4) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(5) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(5) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(6) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(6) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(7) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul > li:nth-child(7) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) {
  box-sizing: inherit;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  list-style: none;
  width: 25%;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > h6 {
  box-sizing: inherit;
  color: #333333;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1;
  list-style: none;
  margin: 0 0 1rem;
  text-transform: uppercase;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > h6:nth-of-type(2) {
  margin-top: 3.3rem;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > ul {
  box-sizing: inherit;
  color: #565a5c;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.02rem;
  line-height: 2;
  list-style: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > ul > li:nth-child(1) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > ul > li:nth-child(1) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > ul > li:nth-child(3) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > ul > li:nth-child(3) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > ul > li:nth-child(4) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > ul > li:nth-child(4) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > ul > li:nth-child(5) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > ul > li:nth-child(5) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) {
  box-sizing: inherit;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  list-style: none;
  width: 25%;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > h6 {
  box-sizing: inherit;
  color: #333333;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1;
  list-style: none;
  margin: 0 0 1rem;
  text-transform: uppercase;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > h6:nth-of-type(2) {
  margin-top: 3.3rem;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul {
  box-sizing: inherit;
  color: #565a5c;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.02rem;
  line-height: 2;
  list-style: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(1) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(1) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(2) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(2) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(3) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(3) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(4) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(4) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(4) > a > strong {
  box-sizing: inherit;
  color: #565a5c;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bolder;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(5) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(5) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(5) > a > strong {
  box-sizing: inherit;
  color: #565a5c;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bolder;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(6) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(6) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(6) > a > strong {
  box-sizing: inherit;
  color: #565a5c;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bolder;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(7) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul > li:nth-child(7) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section {
  box-sizing: inherit;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  list-style: none;
  width: 25%;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1) {
  box-sizing: inherit;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  list-style: none;
  width: 100%;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1):last-of-type {
  margin: 3.1rem 0 0;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1) > h6 {
  box-sizing: inherit;
  color: #333333;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1;
  list-style: none;
  margin: 0 0 1rem;
  text-transform: uppercase;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1) > h6:nth-of-type(2) {
  margin-top: 3.3rem;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1) > ul {
  box-sizing: inherit;
  color: #565a5c;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.02rem;
  line-height: 2;
  list-style: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1) > ul > li:nth-child(1) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1) > ul > li:nth-child(1) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1) > ul > li:nth-child(2) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1) > ul > li:nth-child(2) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(2) {
  box-sizing: inherit;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  list-style: none;
  width: 100%;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(2):last-of-type {
  margin: 3.1rem 0 0;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(2) > h6 {
  box-sizing: inherit;
  color: #333333;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1;
  list-style: none;
  margin: 0 0 1rem;
  text-transform: uppercase;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(2) > h6:nth-of-type(2) {
  margin-top: 3.3rem;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(2) > ul {
  box-sizing: inherit;
  color: #565a5c;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.02rem;
  line-height: 2;
  list-style: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(2) > ul > li {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(2) > ul > li > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 26px;
  list-style: none;
  text-align: left;
  text-decoration: inherit;
  text-transform: capitalize;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) {
  box-sizing: inherit;
  color: #000000;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2):first-of-type {
  display: flex;
  flex-basis: 58%;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2):last-of-type {
  align-items: flex-start;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 30rem;
  width: 100%;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > h6 {
  box-sizing: inherit;
  color: #333333;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1;
  margin: 0 0 1rem;
  text-transform: uppercase;
  width: 100%;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > div {
  box-sizing: inherit;
  color: #565a5c;
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1.1;
  margin: 0 0 2rem;
  width: 90%;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > div > a {
  box-sizing: inherit;
  color: #1c78b3;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 11px;
  margin: 0 0.5rem 0 0;
  text-decoration: none;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > ul {
  align-items: center;
  box-sizing: inherit;
  color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  justify-content: flex-start;
  line-height: 10px;
  list-style: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > ul > li:nth-child(1) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > ul > li:nth-child(1) > a {
  background-color: initial;
  background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/social/fb.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: inherit;
  color: #0000ee;
  cursor: pointer;
  display: flex;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  height: 2.2rem;
  line-height: 10px;
  list-style: none;
  margin: 0 1.7rem 0 0;
  text-align: left;
  width: 2.2rem;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > ul > li:nth-child(2) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > ul > li:nth-child(2) > a {
  background-color: initial;
  background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/social/yt.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: inherit;
  color: #0000ee;
  cursor: pointer;
  display: flex;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  height: 2.2rem;
  line-height: 10px;
  list-style: none;
  margin: 0 1.7rem 0 0;
  text-align: left;
  width: 2.2rem;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > ul > li:nth-child(3) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > ul > li:nth-child(3) > a {
  background-color: initial;
  background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/social/ig.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: inherit;
  color: #0000ee;
  cursor: pointer;
  display: flex;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  height: 2.2rem;
  line-height: 10px;
  list-style: none;
  margin: 0 1.7rem 0 0;
  text-align: left;
  width: 2.2rem;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > ul > li:nth-child(4) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > ul > li:nth-child(4) > a {
  background-color: initial;
  background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/social/p.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: inherit;
  color: #0000ee;
  cursor: pointer;
  display: flex;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  height: 2.2rem;
  line-height: 10px;
  list-style: none;
  margin: 0 1.7rem 0 0;
  text-align: left;
  width: 2.2rem;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > ul > li:nth-child(5) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(3) > span:nth-child(2) > ul > li:nth-child(5) > a {
  background-color: initial;
  background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/social/tw.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: inherit;
  color: #0000ee;
  cursor: pointer;
  display: flex;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  height: 2.2rem;
  line-height: 10px;
  list-style: none;
  margin: 0 1.7rem 0 0;
  text-align: left;
  width: 2.2rem;
}
.exportedElement > div > div:nth-child(4) {
  align-items: center;
  box-sizing: inherit;
  color: #333333;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  justify-content: space-between;
  line-height: 1;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(1) {
  align-items: center;
  box-sizing: inherit;
  color: #333333;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  line-height: 13px;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(1) > strong {
  box-sizing: inherit;
  color: #333333;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bolder;
  line-height: 13px;
  margin: 0 1rem 0 0;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(1) > ul {
  align-items: center;
  box-sizing: inherit;
  color: #333333;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  justify-content: flex-start;
  line-height: 13px;
  list-style: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(1) > ul > li:nth-child(1) {
  border: 0.1rem solid #000000;
  box-sizing: border-box;
  color: #333333;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  line-height: 13px;
  list-style: none;
  margin: 0 0.5rem 0 0;
  text-align: left;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(1) > ul > li:nth-child(1) > a {
  background-color: initial;
  background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/us.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: 80%;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  height: 3rem;
  line-height: 13px;
  list-style: none;
  text-align: left;
  text-decoration: none;
  width: 3rem;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(1) > ul > li:nth-child(2) {
  border: 0.1rem solid transparent;
  box-sizing: inherit;
  color: #333333;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  line-height: 13px;
  list-style: none;
  margin: 0 0.5rem 0 0;
  text-align: left;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(1) > ul > li:nth-child(2) > a {
  background-color: initial;
  background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/ca.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: 80%;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  height: 3rem;
  line-height: 13px;
  list-style: none;
  text-align: left;
  text-decoration: none;
  width: 3rem;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(1) > ul > li:nth-child(3) {
  border: 0.1rem solid transparent;
  box-sizing: inherit;
  color: #333333;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  line-height: 13px;
  list-style: none;
  margin: 0 0.5rem 0 0;
  text-align: left;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(1) > ul > li:nth-child(3) > a {
  background-color: initial;
  background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/logo_eb_outlet.svg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  height: 2.4rem;
  line-height: 13px;
  list-style: none;
  margin: 0.8rem 0.5rem 0;
  text-align: left;
  text-decoration: none;
  width: 10rem;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(2) {
  align-items: center;
  box-sizing: inherit;
  color: #333333;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  line-height: 13px;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(2) > ul {
  align-items: center;
  box-sizing: inherit;
  color: #333333;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  justify-content: flex-end;
  line-height: 1;
  list-style: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(2) > ul > li:nth-child(1) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(2) > ul > li:nth-child(1):not(:last-of-type):after {
  content: "|";
  display: inline-block;
  margin: 0 1rem;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(2) > ul > li:nth-child(1) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  line-height: 13px;
  list-style: none;
  text-align: left;
  text-decoration: none;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(2) > ul > li:nth-child(2) {
  box-sizing: inherit;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(2) > ul > li:nth-child(2):not(:last-of-type):after {
  content: "|";
  display: inline-block;
  margin: 0 1rem;
}
.exportedElement > div > div:nth-child(4) > span:nth-child(2) > ul > li:nth-child(2) > a {
  box-sizing: inherit;
  color: inherit;
  cursor: pointer;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  line-height: 13px;
  list-style: none;
  text-align: left;
  text-decoration: none;
}
.exportedElement > div > div:nth-child(5) {
  align-items: center;
  box-sizing: inherit;
  color: #333333;
  display: flex;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  justify-content: center;
  letter-spacing: 0.02rem;
  line-height: 10px;
  margin: 1.6rem auto 0;
  text-align: center;
  width: 100%;
}
form#signupFooter {
  align-items: center;
  box-sizing: inherit;
  color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 10px;
  justify-content: flex-start;
  line-height: 10px;
  margin: 0 0 1.6rem;
  width: 100%;
}
form#signupFooter > button {
  appearance: button;
  background-color: #333333;
  border-radius: 0;
  border-width: 0;
  box-sizing: inherit;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  font-weight: 700;
  height: 4.4rem;
  letter-spacing: 0.02rem;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 11rem;
}
input#email {
  align-items: center;
  border: 0.1rem solid #333333;
  border-radius: 0;
  box-sizing: border-box;
  color: #333333;
  display: flex;
  font-family: inherit;
  font-size: 13px;
  font-weight: 100;
  height: 4.4rem;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 736px) {
  footer#responsive-footer {
    padding: 0 1.2rem;
  }
  .exportedElement > div > div:nth-child(1) {
    border-width: 0;
    margin: 0;
    padding: 2rem 0 2.4rem;
  }
  .exportedElement > div > div:nth-child(1) > a {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    width: 33.33%;
  }
  .exportedElement > div > div:nth-child(1) > a:before {
    height: 3.2rem;
    margin: 0 0 0.7rem;
    width: 2.4rem;
  }
  .exportedElement > div > div:nth-child(1) > a > span {
    text-align: center;
  }
  .exportedElement > div > div:nth-child(1) > a > span > p {
    display: none;
  }
  .exportedElement > div > div:nth-child(3) {
    border-width: 0;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) {
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1):first-of-type {
    flex-basis: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) {
    align-items: center;
    border-bottom: 0.1rem solid #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > h6 {
    align-items: center;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    flex-basis: 100%;
    font-size: 13px;
    font-weight: 700;
    height: 5rem;
    justify-content: space-between;
    letter-spacing: 0;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > h6:after {
    background-color: initial;
    background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/arrowDown.svg);
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 1.6rem;
    line-height: 5.1rem;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    width: 1.6rem;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(1) > ul {
    box-sizing: border-box;
    display: none;
    font-weight: 100;
    line-height: 2.4;
    padding: 0 2.4rem 2.4rem 1rem;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) {
    align-items: center;
    border-bottom: 0.1rem solid #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > h6 {
    align-items: center;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    flex-basis: 100%;
    font-size: 13px;
    font-weight: 700;
    height: 5rem;
    justify-content: space-between;
    letter-spacing: 0;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > h6:after {
    background-color: initial;
    background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/arrowDown.svg);
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 1.6rem;
    line-height: 5.1rem;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    width: 1.6rem;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(2) > ul {
    box-sizing: border-box;
    display: none;
    font-weight: 100;
    line-height: 2.4;
    padding: 0 2.4rem 2.4rem 1rem;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) {
    align-items: center;
    border-bottom: 0.1rem solid #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > h6 {
    align-items: center;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    flex-basis: 100%;
    font-size: 13px;
    font-weight: 700;
    height: 5rem;
    justify-content: space-between;
    letter-spacing: 0;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > h6:after {
    background-color: initial;
    background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/arrowDown.svg);
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 1.6rem;
    line-height: 5.1rem;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    width: 1.6rem;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > div:nth-child(4) > ul {
    box-sizing: border-box;
    display: none;
    font-weight: 100;
    line-height: 2.4;
    padding: 0 2.4rem 2.4rem 1rem;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > section {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1) {
    align-items: center;
    border-bottom: 0.1rem solid #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1) > h6 {
    align-items: center;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    flex-basis: 100%;
    font-size: 13px;
    font-weight: 700;
    height: 5rem;
    justify-content: space-between;
    letter-spacing: 0;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1) > h6:after {
    background-color: initial;
    background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/arrowDown.svg);
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 1.6rem;
    line-height: 5.1rem;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    width: 1.6rem;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(1) > ul {
    box-sizing: border-box;
    display: none;
    font-weight: 100;
    line-height: 2.4;
    padding: 0 2.4rem 2.4rem 1rem;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(2):last-of-type {
    align-items: center;
    border-bottom: 0.1rem solid #000000;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(2) > h6 {
    align-items: center;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    flex-basis: 100%;
    font-size: 13px;
    font-weight: 700;
    height: 5rem;
    justify-content: space-between;
    letter-spacing: 0;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(2) > h6:after {
    background-color: initial;
    background-image: url(https://www.eddiebauer.com/view/static/images/svg/ydv/arrowDown.svg);
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 1.6rem;
    line-height: 5.1rem;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    width: 1.6rem;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1) > section > div:nth-child(2) > ul {
    box-sizing: border-box;
    display: none;
    font-weight: 100;
    line-height: 2.4;
    padding: 0 2.4rem 2.4rem 1rem;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(2):first-of-type {
    flex-basis: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(2) > h6 {
    display: none;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(2) > div {
    border-bottom: 0.1rem solid #000000;
    display: flex;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(2) > ul {
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0 0;
  }
  .exportedElement > div > div:nth-child(4) {
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .exportedElement > div > div:nth-child(4) > span:nth-child(1) {
    margin: 0.2rem 0 0.8rem;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(4) > span:nth-child(1) > strong {
    font-weight: 100;
  }
  .exportedElement > div > div:nth-child(4) > span:nth-child(2) {
    margin: 0.2rem 0 0.8rem;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(4) > span:nth-child(2) > ul {
    justify-content: left;
    text-align: left;
  }
  .exportedElement > div > div:nth-child(5) {
    justify-content: flex-start;
    margin: 1rem auto 1.6rem;
  }
  form#signupFooter {
    display: none;
  }
}
@media only screen and (min-width: 737px) {
  .exportedElement > div > div:nth-child(2) {
    display: none;
  }
}
@media (min-device-width: 737px) and (max-device-width: 1024px) and (orientation: landscape) {
  .exportedElement > div > div:nth-child(3) > span:nth-child(1):first-of-type {
    flex-basis: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1):last-of-type {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 2.4rem auto;
    max-width: 80%;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(2):first-of-type {
    flex-basis: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(2):last-of-type {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 2.4rem auto;
    max-width: 80%;
    width: 100%;
  }
}
@media (min-device-width: 737px) and (max-device-width: 1024px) and (orientation: portrait) {
  .exportedElement > div > div:nth-child(3) > span:nth-child(1):first-of-type {
    flex-basis: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1):last-of-type {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 2.4rem auto;
    max-width: 50%;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(2):first-of-type {
    flex-basis: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(2):last-of-type {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 2.4rem auto;
    max-width: 50%;
    width: 100%;
  }
}
@media (min-width: 737px) and (max-width: 1444px) {
  .exportedElement > div > div:nth-child(3) > span:nth-child(1):first-of-type {
    flex-basis: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(1):last-of-type {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 2.4rem auto;
    max-width: 80%;
    width: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(2):first-of-type {
    flex-basis: 100%;
  }
  .exportedElement > div > div:nth-child(3) > span:nth-child(2):last-of-type {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 2.4rem auto;
    max-width: 50%;
    width: 100%;
  }
}
