body {
  font-family: Times;
  background: #eee;
}
.footer {
  background-color: #f5f5f5;
  font-family: Interstate;
}
.exported-element > div {
  max-width: 1440px;
  margin: auto;
  padding: 3.6rem 11rem;
}
.exported-element > div .foot_seperator {
  max-width: 1440px;
  opacity: 0.25;
  background-color: #424242;
  height: 1px;
  margin: 16px 0px;
}
.exported-element > div .footer-content {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
.exported-element > div .footer-cards {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
.exported-element > div .footer-cards > a, .exported-element > div .footer-cards div {
  display: flex;
  max-width: 30rem;
  text-decoration: none;
}
.exported-element > div .footer-cards > a > div:nth-child(1), .exported-element > div .footer-cards div > div:nth-child(1) {
  margin: 0px 2rem 0px 0px;
  color: red;
}
.exported-element > div .footer-cards > a > div:nth-child(1) > svg, .exported-element > div .footer-cards div > div:nth-child(1) > svg {
  width: 48px;
  height: 48px;
}
.exported-element > div .footer-cards > a > div:nth-child(2), .exported-element > div .footer-cards div > div:nth-child(2) {
  display: block;
  flex-direction: column;
  flex: 0 1 auto;
  font-size: 0.928rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  opacity: 1;
  font-weight: lighter;
  color: #333333;
  width: 78%;
}
.exported-element > div .footer-cards > a > div:nth-child(2) > div:nth-child(1), .exported-element > div .footer-cards div > div:nth-child(2) > div:nth-child(1) {
  font-size: 0.928rem;
  letter-spacing: 0.2px;
  opacity: 1;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
  margin-top: 3px;
}
.exported-element > div .footer-cards > a > div:nth-child(2) > div:nth-child(2), .exported-element > div .footer-cards div > div:nth-child(2) > div:nth-child(2) {
  font-size: 0.928rem;
  letter-spacing: 0.2px;
  opacity: 1;
  font-weight: lighter;
  color: #565a5c;
  line-height: 2.08;
}
.exported-element > div .footer-customerservice {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
.exported-element > div .footer-customerservice > div:nth-child(1) {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 25%;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div > div {
  width: 16rem;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(3) > div:nth-child(1) {
  width: 13rem;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(3) > div:nth-child(2) {
  margin-top: 28px;
  width: 16rem;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(1) > span, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(2) > span, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(4) > span {
  font-size: 0.928rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  opacity: 1;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(1) > ul, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(2) > ul, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(4) > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  font-size: 0.928rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  opacity: 1;
  font-weight: lighter;
  color: #333333;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(1) > ul > li, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(2) > ul > li, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(4) > ul > li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(1) > ul > li > div, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(2) > ul > li > div, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(4) > ul > li > div {
  display: block;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(1) > ul > li > div > a, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(2) > ul > li > div > a, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(4) > ul > li > div > a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(1) > ul > li > div > a .card_subheading, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(2) > ul > li > div > a .card_subheading, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(4) > ul > li > div > a .card_subheading {
  background-color: red;
  font-size: 0.928rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  opacity: 1;
  font-weight: lighter;
  color: #565a5c;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(1) > ul > li > div > a .nav_list_subtitle, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(2) > ul > li > div > a .nav_list_subtitle, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(4) > ul > li > div > a .nav_list_subtitle {
  padding: 0px;
  text-transform: capitalize;
  line-height: 2.15;
  margin: 0px;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(1) > ul > li > div > a:hover, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(2) > ul > li > div > a:hover, .exported-element > div .footer-customerservice > div:nth-child(1) > div > div:nth-child(4) > ul > li > div > a:hover {
  font-weight: bold;
  letter-spacing: 0.55px;
}
.exported-element > div .footer-customerservice > div:nth-child(2) {
  flex-direction: column;
  max-width: 30rem;
}
.exported-element > div .footer-customerservice > div:nth-child(2) > span {
  display: block;
}
.exported-element > div .footer-customerservice > div:nth-child(2) > span:nth-child(1) {
  font-size: 0.928rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  opacity: 1;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}
.exported-element > div .footer-customerservice > div:nth-child(2) > span:nth-child(2) {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.17px;
  margin-top: 6px;
}
.exported-element > div .footer-customerservice > div:nth-child(2) > button {
  width: 185px;
  height: 39px;
  margin-top: 12px;
  background: #333333;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 0.928rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  opacity: 1;
  font-weight: bold;
  color: #ffffff;
}
.exported-element > div .footer-customerservice > div:nth-child(2) > ul {
  display: flex;
  list-style: none;
  margin: 15px auto;
  height: 48px;
}
.exported-element > div .footer-customerservice > div:nth-child(2) > ul > li {
  margin-right: 17px;
  margin-top: auto;
}
.exported-element > div .footer-customerservice > div:nth-child(2) > ul > li > a {
  text-decoration: none;
}
.exported-element > div .footerNav {
  background-color: green;
}
.exported-element > div .footer-bottom {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
.exported-element > div .footer-bottom > div:nth-child(1) {
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  align-items: center;
}
.exported-element > div .footer-bottom > div:nth-child(1) .shop_sites {
  margin-right: 7px;
  padding: 2px 2px 0px;
  cursor: pointer;
}
.exported-element > div .footer-bottom > div:nth-child(1) .shop_sites.active {
  border: 1px solid;
}
.exported-element > div .footer-bottom > div:nth-child(1) .card_subheading {
  font-size: 0.928rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  opacity: 1;
  font-weight: lighter;
  color: #565a5c;
}
.exported-element > div .footer-bottom > div:nth-child(1) > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.exported-element > div .footer-bottom > div:nth-child(2) {
  text-align: center;
  font-weight: lighter;
  margin: 10px 0px;
}
.exported-element > div .footer-bottom > div:nth-child(2) > a {
  text-decoration: none;
}
.exported-element > div .footer-bottom > div:nth-child(3) {
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  align-items: center;
}
.exported-element > div .footer-bottom > div:nth-child(3) .links {
  display: flex;
}
.exported-element > div .footer-bottom > div:nth-child(3) ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.exported-element > div .footer-bottom > div:nth-child(3) ul > li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.exported-element > div .footer-bottom > div:nth-child(3) ul > li > a {
  font-size: 0.928rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  opacity: 1;
  font-weight: lighter;
  color: #565a5c;
  text-decoration: none;
}
.exported-element > div .copyrights {
  text-align: center;
  font-size: 0.928rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  opacity: 1;
  font-weight: lighter;
  color: #565a5c;
}
