$color_1: #000000;
$color_2: #0000ee;
$color_3: #565a5c;
$color_4: #333333;
$color_5: inherit;
$color_6: #ffffff;
$color_7: #1c78b3;
$font-family_1: Times;
$font-family_2: Interstate, Helvetica, Arial, sans-serif;
$font-family_3: "Helvetica Neue", Helvetica, sans-serif;
$font-family_4: inherit;
$background-color_1: #f5f5f5;
$background-color_2: #424242;
$background-color_3: #ededed;
$background-color_4: #333333;
body {
    font-family: Times;
    background: #eee;
}
.footer {
    background-color: $background-color_1;
    font-family: Interstate;
}
.exported-element {
    
    >div {
        max-width: 1440px;
        margin: auto;
        padding: 3.6rem 11rem;
        
        .foot_seperator {
            max-width: 1440px;
            opacity: 0.25;
            background-color: #424242;
            height: 1px;
            margin: 16px 0px;
        }
        .footer-content {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .footer-cards {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            flex-wrap: wrap;
            >a, div {
                display: flex;
                max-width: 30rem;
                text-decoration: none;
                >div {
                    &:nth-child(1){
                        margin: 0px 2rem 0px 0px;
                        color: red;
                        >svg{
                            width: 48px;
                            height: 48px;
                        }
                    }
                    &:nth-child(2) {
                        display: block;
                        flex-direction: column;
                        flex: 0 1 auto;
                        font-size: 0.928rem;
                        line-height: 2rem;
                        letter-spacing: 0.2px;
                        opacity: 1;
                        font-weight: lighter;
                        color: $background-color_4;
                        width: 78%;
                        >div {
                            &:nth-child(1) {
                                font-size: 0.928rem;
                                letter-spacing: 0.2px;
                                opacity: 1;
                                color: rgb(51, 51, 51);
                                font-weight: bold;
                                text-transform: uppercase;
                                line-height: normal;
                                margin-top: 3px;
                            }
                            &:nth-child(2) {
                                font-size: 0.928rem;
                                letter-spacing: 0.2px;
                                opacity: 1;
                                font-weight: lighter;
                                color: rgb(86, 90, 92);
                                line-height: 2.08;
                            }
                        }
                    }
                }
            }
        }
        .footer-customerservice {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            flex-wrap: wrap;
            >div {
                &:nth-child(1){
                    display: flex;
                    width: 60%;
                    flex-wrap: wrap;
                    list-style: none;
                    -webkit-box-pack: justify;
                    justify-content: space-between;
                    >div {
                        display: flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        width: 25%;
                        >div {
                            width: 16rem;
                            &:nth-child(3) {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                >div {
                                    &:nth-child(1){
                                        width: 13rem;
                                    }
                                    &:nth-child(2){
                                        margin-top: 28px;
                                        width: 16rem;
                                    }
                                   
                                }
                            }
                            &:nth-child(1), &:nth-child(2), &:nth-child(4){
                                >span {
                                    font-size: 0.928rem;
                                    line-height: 2rem;
                                    letter-spacing: 0.2px;
                                    opacity: 1;
                                    color: #333333;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                }
                                >ul {
                                    list-style-type: none;
                                    padding: 0;
                                    margin: 0;
                                    display: flex;
                                    flex-direction: column;
                                    flex: 0 1 auto;
                                    font-size: 0.928rem;
                                    line-height: 2rem;
                                    letter-spacing: 0.2px;
                                    opacity: 1;
                                    font-weight: lighter;
                                    color: #333333;
                                    margin-block-start: 1em;
                                    margin-block-end: 1em;
                                    margin-inline-start: 0px;
                                    margin-inline-end: 0px;
                                    padding-inline-start: 40px;
                                    >li {
                                        display: list-item;
                                        text-align: -webkit-match-parent;
                                        >div {
                                            display: block;
                                            >a {
                                                color: inherit;
                                                text-decoration: none;
                                                cursor: pointer;
                                                // >a {
                                                    .card_subheading {
                                                        background-color: red;
                                                        font-size: 0.928rem;
                                                        line-height: 2rem;
                                                        letter-spacing: 0.2px;
                                                        opacity: 1;
                                                        font-weight: lighter;
                                                        color: rgb(86, 90, 92);
                                                        
                                                    }
                                                    .nav_list_subtitle {
                                                        padding: 0px;
                                                        text-transform: capitalize;
                                                        line-height: 2.15;
                                                        margin: 0px;
                                                        text-decoration: none;
                                                        letter-spacing: 1px;
                                                        cursor: pointer;
                                                    }
                                                // }
                                                &:hover {
                                                    font-weight: bold;
                                                    letter-spacing: 0.55px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
                &:nth-child(2){
                    flex-direction: column;
                    max-width: 30rem;
                    >span {
                        display: block;
                        &:nth-child(1) {
                            font-size: 0.928rem;
                            line-height: 2rem;
                            letter-spacing: 0.2px;
                            opacity: 1;
                            color: rgb(51, 51, 51);
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        &:nth-child(2) {
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 18px;
                            letter-spacing: 0.17px;
                            margin-top: 6px;
                        }
                    }
                    >button {
                        width: 185px;
                        height: 39px;
                        margin-top: 12px;
                        background: #333333;
                        border-radius: 0px;
                        text-transform: uppercase;
                        font-size: 0.928rem;
                        line-height: 2rem;
                        letter-spacing: 0.2px;
                        opacity: 1;
                        font-weight: bold;
                        color: #ffffff;
                    }
                    >ul {
                        display: flex;
                        list-style: none;
                        margin: 15px auto;
                        height: 48px;
                        >li {
                            margin-right: 17px;
                            margin-top: auto;
                            >a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .footerNav{
            background-color:green;
        }
        .footer-bottom {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            flex-wrap: wrap;
            >div {
                &:nth-child(1) {
                    display: flex;
                    list-style: none;
                    -webkit-box-align: center;
                    align-items: center;
                    .shop_sites {
                        margin-right: 7px;
                        padding: 2px 2px 0px;
                        cursor: pointer;
                        &.active {
                            border: 1px solid;
                        }
                    }

                    .card_subheading {
                        font-size: 0.928rem;
                        line-height: 2rem;
                        letter-spacing: 0.2px;
                        opacity: 1;
                        font-weight: lighter;
                        color: #565a5c;
                    }
                    >ul{
                        display: flex;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                    }
                }
                &:nth-child(2) {
                    text-align: center;
                    font-weight: lighter;
                    margin: 10px 0px;
                    >a {
                        text-decoration: none;
                    }
                }
                &:nth-child(3) {
                    display: flex;
                    list-style: none;
                    -webkit-box-align: center;
                    align-items: center;
                    .links {
                        display: flex;
                    }                    
                    ul {
                        
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        >li {
                            display: list-item;
                            text-align: -webkit-match-parent;
                            >a {
                                font-size: 0.928rem;
                                line-height: 2rem;
                                letter-spacing: 0.2px;
                                opacity: 1;
                                font-weight: lighter;
                                color: #565a5c;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .copyrights {
            text-align: center;
            font-size: 0.928rem;
            line-height: 2rem;
            letter-spacing: 0.2px;
            opacity: 1;
            font-weight: lighter;
            color: #565a5c;
        }
    }
}